__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

cache/
checkpoints/
dev/environment_specific_notes.md
dev/host_notebook.sh
data/
diagrams/
logs/
lightning_logs/*
!lightning_logs/version_64/
!lightning_logs/version_64/**
!lightning_logs/heavy_regularization/version_1/
!lightning_logs/heavy_regularization/version_1/**

glove.840B.300d.word2vec.bin
glove.42B.300d.zip
