__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

checkpoints/
dev/environment_specific_notes.md
dev/host_notebook.sh
data/
diagrams/
logs/
lightning_logs/

glove.840B.300d.word2vec.bin
glove.42B.300d.zip
