torch
pandas
numpy
tiktoken
gensim
pytorch_lightning
implicit
joblib
scikit-learn
tqdm
scipy

optuna
optuna-integration
optuna-integration[pytorch_lightning]
tensorboard
tensorboardx
matplotlib
seaborn
