torch
pandas
numpy
tiktoken
gensim
pytorch_lightning
implicit
joblib
scikit-learn
tqdm
scipy<1.13

pyarrow
fastparquet

optuna
optuna-integration
optuna-integration[pytorch_lightning]
tensorboard
tensorboardx
matplotlib
seaborn

xgboost
